.nav-bar {
    background: url('https://test.create.diagnal.com/images/nav_bar.png');
    display: flex;
    align-items: start;
    justify-content: space-between;
    position: sticky;
    top: 0%;
    height: 3rem;
    background-size: cover;
    background-position-y: bottom;
    padding-bottom: 0.75rem;
    

    .nav-back-button {
        background-color: transparent;
        height: 1rem;
        width: 1rem;
        margin: auto 0.75rem;   
    }

    .nav-title {
        color: white;
        text-align: left;
        flex: 1;
        background-color: transparent;
        margin: auto 0.75rem;
        font-size: larger;
    }

    .nav-search-button {
        background-color: transparent;
        height: 1rem;
        width: 1rem;
        margin: auto 0.75rem;
    }

}